
/* Start Google Font */
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
/* End Google Font*/
/* Selector */
body   {
    /* Property */
    background-color: whitesmoke;
    color: black;
} 

h1{
    color: rgb(21, 21, 182);
    font-family: Signika, Helvetica, sans-serif;
}

.kapital {
    text-transform: uppercase;
}

.white {
    background-color: white;
}
/* End Body */

/* Start Debug */
.bg-blue {
    background-color: rgb(91, 149, 224);
    background-image: url("../foto/super-market.jpg");
    width: 100%;
}

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 95%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/* End Container */

.test {
    background-image: url("../foto/super-market.jpg") 
}

.blue {
    background-color: rgb(194, 194, 199);
    width: 95%;
}

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Menu Primer */
.menu-primer ul {
    background-color: rgb(41, 41, 156);
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px rgb(194, 194, 199),
        0 6px 10px 0 rgb(194, 194, 199) ,
        0 1px 18px 0 rgb(194, 194, 199);
}
.menu-primer li {
    border-right: 1px solid rgb(91, 91, 204);
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a {
    color : white;
    font-size: 15px;
    padding: 15px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-family: monospace;
       
}

.menu-primer a:hover {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;

}
.menu-primer .active {
    background-color: white;
    color: #333333;
    text-decoration: none;
}
/* End Menu Primer*/

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}

/* End Heading */

/* Start Jumbotron*/
.jumbotron {
    background-color: rgb(238, 247, 247);
    border: 1px solid rgb(193, 206, 231);
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}

.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron*/

/*Start Main*/
.main-home-one{
        float: left;
        width:49.5%;
}
.main-home-two {
        float: right;
        width: 49.5%;
}
.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 120px;
}

.main-home-one .box-tes,
.main-home-two .box-tes {
    height:180px;
}

.main-one {
    float: left;
    overflow: auto;
    width=70%;
}
/* End Main*/

/* Start Sidebar */
.sidebar-two {
    float: right;
    overflow: auto;
    width=30%;
}
/* End Sidebar */

/* Start Box*/
.box-heading {
    background-color: rgb(201, 209, 223);
    border: 1px solid rgb(204, 204, 221);
    border-radius: 3px 3px 0 0;
    padding: 10px 20px;
    margin: 0;
    text-transform: uppercase;
}

.box-heading h4 {
    font-size: 14px;
    margin:0;
}

.box-isi {
    background-color: white;
    border: 1px solid rgb(204, 204, 221);
    border-top: 0;
    padding: 10px 20px;
    margin: 0;

}

.box-tes {
    background-color: white;
    border: 1px solid rgb(204, 204, 221);
    border-top: 0;
    padding: 10px 20px;
    margin: 0;
}
/* End Box*/

/*Start Testimonial*/
.testimonial {
    border-left: 4px solid #dfe2e5;
    margin-left: 30px;
    padding-left: 20px;
}
/*End Testimonial*/

/*Start Table*/
.layanan-table {
    border: 1 px solid #d1d5da;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    
}
.layanan-table th  {
    background-color: #d9e6f3;
}
.layanan-table td {
    text-align: center;

}
/*End Table*/

/* Start Form */
input[type="text"],
input[type="email"],
textarea {
    font-size: 14px;
    padding: 10px;

}

input::placeholder,
textarea::placeholder {
        color:#888888;
        font-weight: 300;
}

input[type="submit"],
.button {
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    border: 1 px solid rgba(27, 31, 35, 0.2);
    border-radius: 4px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* End Form */

/* Start Contact Form */
.contact-form div {
    margin: 20px 0;

}
/* End Contact Form */
/*Start Menu Sekunder*/

.menu-sekunder {
    background-color:#acc8dd57;
    border: 1 px solid rgb(221, 221, 230);
    border-top: 1 px solid #9fa9b9;
    overflow: auto;
    padding: 10px 0;

}

.menu-sekunder h4 {
    font-size: 14px;
    margin:0 auto;
    text-transform: uppercase;
}

.menu-sekunder ul {
    padding: 0;
}

.menu-sekunder li {
    list-style: disc;

}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 17px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}

.menu-sekunder-one {
    width: 40%;
}

.menu-sekunder-two {
    width: 30%
}

.menu-sekunder-three {
    width: 30%
}

.menu-sekunder li img {
    vertical-align: middle;
}
/*End Menu Sekunder*/

/*Start Copyright*/
.copyright p{
    font-size: 15px;
}
/*End Copyright*/

/* Start Effect */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1567 {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 10px;
  max-width: 31.5%;
  min-width: 31.5%;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.snip1567 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1567 img {
  max-width: 100%;
  opacity: 0.75;
  position: relative;
  vertical-align: top;
}

.snip1567 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1567 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: #000000;
  top: 0;
  font-weight: 800;
  letter-spacing: -0.4px;
  margin: 0;
  padding: 10px 20px;
  position: absolute;
  width: 100%;
}

.snip1567 p {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0px 20px;
  opacity: 0;
  text-align: right;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1567 i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 54px;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.snip1567 .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(236, 188, 46, 0.75);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.snip1567 a {
  left: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.snip1567:hover .hover,
.snip1567.hover .hover {
  opacity: 1;
}

.snip1567:hover p,
.snip1567.hover p {
  opacity: 1;
}

.snip1567:hover h3,
.snip1567.hover h3 {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.snip1567:hover i,
.snip1567.hover i {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
}
/* End Effect */













